@using Dashboard.Pages.Auth
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @if (routeData.PageType == typeof(Login))
            { 
                <RouteView RouteData="@routeData" DefaultLayout="null" />
             } 
            else
            {
                @if (isLoading)
                {
                    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                        @GeneralResources.Loading...
                    </div>
                }
                else if (isAuthorized)
                {
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                }
             } 
        </Found>
        <NotFound>
            <h3>الصفحة غير موجودة!</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

