@using Dashboard.Pages
@using Dashboard.Pages.Auth
@using Dashboard.Pages.Authentication
@using Dashboard.Providers
@using Shared.DTOs.ECommerce
@using Shared.DTOs.User
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @if (routeData.PageType == typeof(Login))
            {
                <RouteView RouteData="@routeData" DefaultLayout="null" />
            }
            else
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
           @*      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        <div class="d-flex justify-content-center align-items-center vh-100">
                            <p class="fs-4">@GeneralResources.Loading...</p>
                        </div>
                    </Authorizing>
                    <NotAuthorized>
                        <RedirectToLoginComponent />
                    </NotAuthorized>
                </AuthorizeRouteView> *@
            }
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3>@NotifiAndAlertsResources.PageNotFound</h3>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

