<div class="tab-pane fade" id="v-pills-totals" role="tabpanel"
     aria-labelledby="v-pills-settings-tab">
    <div class="container mt-4">
        <div class="row">
            <!-- Binary Commission -->
            <div class="col-md-4 mb-4">
                <div class="card border-primary h-100">
                    <div class="card-header text-center bg-primary text-white">
                        <h5 class="text-center mb-0">@ECommerceResources.BinaryCommission</h5>
                    </div>
                    <div class="card-body pb-0 text-center">
                        <h2 class="mb-0 text-primary">$@CommissionsHistoryResult.BinaryCommission</h2>
                    </div>
                </div>
            </div>

            <!-- Direct Commission -->
            <div class="col-md-4 mb-4">
                <div class="card border-success h-100">
                    <div class="card-header text-center bg-success text-white">
                        <h5 class="text-center mb-0">@ECommerceResources.DirectCommission</h5>
                    </div>
                    <div class="card-body pb-0 text-center">
                        <h2 class="mb-0 text-success">$@(CommissionsHistoryResult.DirectSaleCommission + CommissionsHistoryResult.RecruitmentCommission)</h2>
                    </div>
                </div>
            </div>

            <!-- Rank Commission -->
            <div class="col-md-4 mb-4">
                <div class="card border-warning h-100">
                    <div class="card-header text-center bg-warning text-white">
                        <h5 class="text-center mb-0">@ECommerceResources.RankCommission</h5>
                    </div>
                    <div class="card-body pb-0 text-center">
                        <h2 class="mb-0 text-warning">$@CommissionsHistoryResult.RankCommission</h2>
                    </div>
                </div>
            </div>

            <!-- Level Commission -->
            <div class="col-md-4 mb-4">
                <div class="card border-info h-100">
                    <div class="card-header text-center bg-info text-white">
                        <h5 class="text-center mb-0">@ECommerceResources.LevelCommission</h5>
                    </div>
                    <div class="card-body pb-0 text-center">
                        <h2 class="mb-0 text-info">$@CommissionsHistoryResult.LevelCommission</h2>
                    </div>
                </div>
            </div>

            <!-- PVs -->
            <div class="col-md-4 mb-4">
                <div class="card border-secondary h-100">
                    <div class="card-header text-center bg-secondary text-white">
                        <h5 class="text-center mb-0">@ECommerceResources.PVs</h5>
                    </div>
                    <div class="card-body pb-0 text-center">
                        <h2 class="mb-0 text-secondary">@CommissionsHistoryResult.PVs</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
