@page "/country"
@page "/country/{Id:guid}"
@using Common.Enumerations.User
@attribute [Authorize(Roles = nameof(UserRole.Admin))]

<PageTitle>@GeneralResources.Countries</PageTitle>
<div class="container-fluid p-0">
    <div class="card shadow-sm border-0">
        <div class="card-header d-flex bg-primary justify-content-between align-items-center">
            <h4 class="modal-title text-white" id="countryModalTitle">
                @(Model.Id == Guid.Empty ? $"➕ {ActionsResources.Add}" : $"✏️ {ActionsResources.Edit}")
            </h4>
        </div>
        <EditForm Model="@Model" OnValidSubmit="Save">

            <DataAnnotationsValidator />
            <div class="card-body p-4">
                <div class="form-group">
                    <label>@FormResources.ArabicTitle</label>
                    <InputText type="text" class="form-control" @bind-value="Model.TitleAr" />
                    <ValidationMessage For="@(() =>Model.TitleAr)" />
                    <br />
                    <label>@FormResources.EnglishTitle</label>
                    <InputText type="text" class="form-control" @bind-value="Model.TitleEn" />
                    <ValidationMessage For="@(() =>Model.TitleEn)" />
                </div>
            </div>
          <div class="card-footer bg-light py-3 d-flex justify-content-end gap-2">
    <!-- زر الإلغاء -->
    <button type="button" class="btn btn-secondary btn-responsive d-flex align-items-center" data-dismiss="modal" @onclick="CloseModal">
        <i class="fas fa-times me-2 ms-2"></i>
        <span class="btn-text">@ActionsResources.Cancel</span>
    </button>

    <!-- زر الحفظ -->
    <button type="submit" class="btn btn-primary btn-responsive d-flex align-items-center" disabled="@isSaving">
        @if (isSaving)
        {
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            <span class="btn-text">@GeneralResources.Loading</span>
        }
        else
        {
            <i class="fas fa-save me-2 ms-2"></i>
            <span class="btn-text">@ActionsResources.Save</span>
        }
    </button>
</div>

        </EditForm>
    </div>
</div>