@page "/marketerDetails/{id}"
@attribute [Authorize(Roles = nameof(UserRole.Admin))]
@using Common.Enumerations.User
@using UI.Pages.User.Marketer.Details.Components

<PageTitle>@ECommerceResources.MarketerDetails</PageTitle>

<!-- [ Main Content ] start -->
<div class="row">
    <div class="col-md-3 col-sm-12">
        <ul class="nav flex-column nav-pills rounded-3" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <li>
                <a class="nav-link text-start rounded-3 active" id="v-pills-home-tab"
                   data-bs-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">@GeneralResources.Home</a>
            </li>
            <li>
                <a class="nav-link text-start rounded-3" id="v-pills-commessions-tab"
                   data-bs-toggle="pill" href="#v-pills-commessions" role="tab"
                   aria-controls="v-pills-commessions" aria-selected="false">
                    @ECommerceResources.CommissionsLogs
                </a>
            </li>
            <li>
                <a class="nav-link text-start rounded-3" id="v-pills-transactions-tab"
                   data-bs-toggle="pill" href="#v-pills-transactions" role="tab"
                   aria-controls="v-pills-transactions" aria-selected="false">
                    @ECommerceResources.TransactionsLogs
                </a>
            </li>
            <li>
                <a class="nav-link text-start rounded-3" id="v-pills-totals-tab"
                   data-bs-toggle="pill" href="#v-pills-totals" role="tab"
                   aria-controls="v-pills-totals" aria-selected="false">@ECommerceResources.Totals</a>
            </li>
            <li>
                <a class="nav-link text-start rounded-3" id="v-pills-actions-tab"
                   data-bs-toggle="pill" href="#v-pills-actions" role="tab"
                   aria-controls="v-pills-actions" aria-selected="false">@ECommerceResources.Actions</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-12 ">
        <div class="tab-content rounded-3" id="v-pills-tabContent">

            <HomeTab id="Guid.Parse(id)"></HomeTab>

            <CommissionsLogsTab id="Guid.Parse(id)"></CommissionsLogsTab>
            <TransactionsLogsTab id="Guid.Parse(id)"></TransactionsLogsTab>
            <TotalsTab id="Guid.Parse(id)"></TotalsTab>
          
            <div class="tab-pane fade" id="v-pills-actions" role="tabpanel"
                 aria-labelledby="v-pills-settings-tab">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="card pt-3">
                            <!-- Active User -->
                            <div class="form-check form-switch custom-switch-v1 mb-2" style="cursor: pointer;">
                                <input type="radio"
                                       class="form-check-input input-success custom-control-input mt-2 me-3 ml-0"
                                       style="margin-left: 0px;"
                                       name="userStatus" id="userStatus-active"
                                       checked="@(Model.UserState == UserStateType.Active)"
                                       onchange="@(() => HandleChangeUserState(UserStateType.Active))"
                                       disabled = "@(!Model.DidReachTargetAccountType)"
                                <label class="form-check-label fs-4" for="userStatus-active">
                                    @ECommerceResources.ActiveUser
                                </label>
                            </div>

                            <!-- De-Active User (Read-only) -->
                            <div class="form-check form-switch custom-switch-v1 mb-2">
                                <input type="radio"
                                       class="form-check-input input-warning custom-control-input mt-2 me-3 ml-0"
                                       style="margin-left: 0px;"
                                       name="userStatus" id="userStatus-deactivated"
                                       checked="@(Model.UserState == UserStateType.Inactive)"
                                       disabled>
                                <label class="form-check-label fs-4" for="userStatus-deactivated">
                                    @ECommerceResources.PendingActivetion
                                </label>
                            </div>

                            <!-- Ban User (Read-only) -->
                            <div class="form-check form-switch custom-switch-v1 mb-2">
                                <input type="radio"
                                       class="form-check-input input-primary custom-control-input mt-2 me-3 ml-0"
                                       style="margin-left: 0px;"
                                       name="userStatus" id="userStatus-banned"
                                       checked="@(Model.UserState == UserStateType.Auto_Locked)"
                                       disabled>
                                <label class="form-check-label fs-4" for="userStatus-banned">
                                    @ECommerceResources.AutoLocked
                                </label>
                            </div>

                            <!-- Restricted User -->
                            <div class="form-check form-switch custom-switch-v1 mb-2" style="cursor: pointer;">
                                <input type="radio"
                                       class="form-check-input input-info custom-control-input mt-2 me-3 ml-0"
                                       style="margin-left: 0px;"
                                       name="userStatus" id="userStatus-restricted"
                                       checked="@(Model.UserState == UserStateType.Restricted)"
                                       onchange="@(() => HandleChangeUserState(UserStateType.Restricted))">
                                <label class="form-check-label fs-4" for="userStatus-restricted">
                                    @ECommerceResources.RestrictedUser
                                </label>
                            </div>

                            <!-- Suspended User -->
                            <div class="form-check form-switch custom-switch-v1 mb-2" style="cursor: pointer;">
                                <input type="radio"
                                       class="form-check-input input-danger custom-control-input mt-2 me-3 ml-0"
                                       style="margin-left: 0px;"
                                       name="userStatus" id="userStatus-suspended"
                                       checked="@(Model.UserState == UserStateType.Suspended)"
                                       onchange="@(() => HandleChangeUserState(UserStateType.Suspended))">
                                <label class="form-check-label fs-4" for="userStatus-suspended">
                                    @ECommerceResources.SuspendedUser
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->


